<div class="container mt-5">
    <h1>Attribute Directives</h1>
    <p class="alert alert-warning">It will apply css but conditionally</p>
    <p class="alert alert-info" [ngStyle]="{ color : outofstock ? 'grey' : 'orange'}">I love Angular and React. </p>

    <p class="alert alert-info" [ngStyle]="{ color : outofstock ? 'red' : 'green'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, accusamus? Magni eius amet repellat, doloremque placeat voluptatem accusantium, officia quia ratione facilis distinctio excepturi alias cumque nisi cupiditate eaque perferendis nesciunt, debitis consectetur ex impedit voluptatibus? Soluta voluptatum rerum repellendus reiciendis et! Sint, impedit atque. </p>
</div>
